body {
    font-family: "Heebo", sans-serif;
    background-color: lightslategrey;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
  }

.header {
    background-color: white;
}
  
 .section-principal {
    height: 20vh;
    display: flex;  /*alinia los elemento en filas*/
    align-items: center;
    justify-content: center;
 }

 .section-principal div{
    /*border: solid red;*/
    width: 50%;
 }

 .section-principal-ini{
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 .section-principal-ini div{
    width: 10%;
    font-size: 5em;
    font-weight: 800;
    margin-right: 10px;
 }

 .section-principal-fin{
    display: flex;
    align-items: end;
    justify-content: flex-end;
 }

 .section-principal-fin div{
    width: 30%;
 }

 .nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
 }

 .nav-principal div {
    width: 25%;
    border: solid lightslategrey 2px;
 }

 .nav-principal div p {
    text-align: center;
 }

 .nav-principal div a {
    text-decoration: none;
    text-align: center;
    color: white;
 }

 .body-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50vh;
 }

 .body-principal div{
    width: 50%;
 }

 .body-principal div p{
    text-align: center;
    font-size: 3em;
    font-weight: 650;
    color: lightslategrey;
 }

 .body-principal div p img{
    text-align: center;
    border: solid 5px blue;
    border-radius: 20px;
 }

 .Footer-principal {
    height: 15%;
    background-color: blue;
 }

 .Footer-principal div {
    height: 10vh;
    background-color: blue;
 }

 .Footer-principal div p{
    text-align: center;
    font-size: 15px;
    color: white;
 }

 .body-principal-bienvenido {
    background-color: white;
    height: 50vh;
 }

 .body-principal-bienvenido-1 {
    display: flex;
    align-items: first baseline;
    justify-content: start;
    background-color: white;
    height: 10vh;
 }

 .body-principal-bienvenido-1 div{
    width: 100%;
 }

 .body-principal-bienvenido-1 div p{
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    color: blue;
 }

 .body-principal-bienvenido-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
 }

 .body-principal-bienvenido-2 div{
    width: 50%;
 }

 .body-principal-bienvenido-2 div p{
    text-align: justify;
    font-size: 135%;
    font-weight: 650;
    color: darkslategrey;
    margin-right: 10%;
 }

 .body-principal-bienvenido-2 div p img{
    text-align: center;
    border: solid 5px blue;
    border-radius: 15px;
    margin-left: 10%;
 }

 .body-principal-bienvenido-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
 }

 .body-principal-bienvenido-3 div{
    width: 50%;
 }

 .body-principal-bienvenido-3 div p{
    text-align: justify;
    font-size: 150%;
    font-weight: 650;
    color: darkslategrey;
    margin-left: 10%;
 }

 .body-principal-bienvenido-3 div p img{
    border: solid 5px blue;
    border-radius: 15px;
 }

 .body-principal-bienvenido-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
 }

 .body-principal-bienvenido-4 div{
    width: 50%;
 }

 .body-principal-bienvenido-4 div p{
    text-align: justify;
    font-size: 150%;
    font-weight: 650;
    color: darkslategrey;
    margin-right: 10%;
 }

 .body-principal-bienvenido-4 div p img{
    text-align: center;
    border: solid 5px blue;
    border-radius: 15px;
    margin-left: 10%;
 }

 .body-principal-bienvenido-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40vh;
    background-color: blue;
 }

 .body-principal-bienvenido-5 div{
    width: 100%;
 }

 .body-principal-bienvenido-5 div p{
    text-align: center;
    font-size: 120%;
    font-weight: 650;
    color: white;
    height: 40vh;
    margin: 5%;

 }

 .body-principal-bienvenido-5 div p a{
    text-decoration: none;
    color: burlywood;
 }

 @media only screen and (min-width: 480px) {
    .body-principal-bienvenido-4 div p img{
      width: 200px;
    }

    .body-principal-bienvenido-4 div{
        width: 100%;
     }

  }
  
  /* tablets phones */
  @media only screen and (min-width: 600px) {
    .body-principal-bienvenido-4 div p img{
        width: 350px;
      }
  }
  
  /* laptop 13, ipads tablets > 12 */
  @media only screen and (min-width: 992px) {
    .body-principal-bienvenido-4 div p img {
        width: 350px;
      }
  }
  
  /* Esta condicion dice que cuando el ancho minimo de mi 
  pantalla sea 1200 el color de fondo sera rojo*/
  @media only screen and (min-width: 1200px) {
    .body-principal-bienvenido-4 div p img {
        width: 400px;
      }
  }